@media (max-width: 1100px) {
  .container {
    padding: 30px 15px;
  }

  .hero {
    min-height: 620px;
  }

  .hero__content-left {
    width: 80%;
  }

  .bern__content {
    width: 70%;
  }

  .value__content-right {
    max-width: 30%;
  }
  .value__content-left {
    width: 65%;
  }

  .schedule__list {
    justify-content: space-evenly;
  }

  .list-item__descr {
  height: 40%;
  }

  .price__list {
    gap: 25px 15px ;
  }

   .price__list-item {
    width: calc(45%);
  }

  .coach__container {
    display: block;
  }

  .coach__right {
    display: block;
  }

  .coach-left {
    float: left;
  width: 250px;
  height: auto;
  margin: 15px 20px 20px 0;
  border-radius: 10px;
  }
}

@media (max-width: 800px) {

   .container {
    padding: 30px 5px;
  }

  .section {
    padding: 20px 0;
  }

    .header__nav {
    display: none;
    position: absolute;
    margin-left: auto;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px 0 0 20px ;
    top: 60px;
    right: 0;
    width: 240px;
    padding: 1em;
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);
    z-index: 100;
    height: 300px;
    /*transform: translateX(110%);*/
    /*transition: all .3s ease-in-out;*/
  }


  .header__nav-list {
    flex-direction: column;
    color: black;
    /*background-color: white;*/
  }

  .header__nav-link {
    color: black;
  }

  .menu-toggle {
    display: block;
  }

  .hero__title {
    font-size: 35px;
  }

  .hero__content {
    flex-direction: column;
  }

  .hero__content-left {
    width: 100%;
    margin-bottom: 30px;
  }

  .hero__content-right {
    width: 100%;
    justify-content: end;
  }

  .forwhom__list-item-title {
    text-align: center;
  }

  .value__content {
    flex-direction: column;
  }
  .value__content-right {
    display: none;
  }
  .value__content-left {
    width: 100%;
  }

  .schedule__list-item {
    width: 47%;
  }

  .coach__container {
    flex-direction: column;
    align-items: center;
  }

  .list-item__descr {
  height: 35%;
  }


}

@media (max-width: 560px) {
  .btn {
    font-size: 14px;
    padding: 10px 30px;
  }

  .title2 {
    margin-bottom: 25px;
  }

  .section-descr {
    font-size: 14px;
    line-height: 1.5;
  }

    .hero {
    min-height: 320px;
  }

  .hero__content {
    padding-left: 30px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__descr {
    font-size: 20px;
  }

  .forwhom__list {
    flex-direction: column;
    gap: 30px;
  }

  .line::after {
    display: none;
  }

  .bern__cite {
    width: 90%;
  }

  .value__content-left {
    margin-bottom: 30px;
  }

  .value__content-right {
    display: block;
    max-width: 100%;
  }
  .value__img {
    object-fit: cover;
  }

  .goals {
    background: url(../img/desc.webp) no-repeat;
  }

  .goals__list-item-img {
    max-width: 30%;
  }

  .schedule__list-item {
    width: 80%;
  }

    .list-item__descr {
  height: 30%;
  }


  .program__list-title {
    font-size: 16px;
    line-height: 24px;
  }


  .reviews .container {
    padding: 30px 0px;
  }

  .reviews__content {
    padding: 30px 0;
  }

  .swiper-slide {
    width: 380px;
    padding: 10px;
  }
/*
  .swiper__content-top {
    max-height: 380px;
  }*/

  .timeline {
    grid-template-columns: 5% 20px 1fr;
  }

   .price__list-item {
    width: calc(75%);
  }

  .coach__container {
    display: flex;
  }

  .coach__right {
    display: flex;
  }
}

@media (max-width: 391px) {
  .swiper-slide {
      max-width: 330px;
    }

    .coach-left {
    max-width: 95%;
  }

  .schedule__list-item {
        width: 100%;
    }
}


@media (max-height: 560px) {
  .header__nav {
    height: 250px;
  }

  .header__nav-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .swiper-slide {
    min-height: 350px;
        max-width: 380px;
  }
}
